body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0047b5;
}

article {
    border-radius: 5px;
    margin: auto;
    border: 2px solid black;
    float: center;
    padding: 20px;
    width: 75%;
    background-color: #FFFFFF;
    height: auto;
    /* only for demonstration, should be removed */
}


.column {
    float: left;
    width: 30%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    font-family: arial, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightyellow;
    text-size-adjust: 10%;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

th:nth-child(even),
th:nth-child(odd) {
    background-color: #dddddd;
}
p{
    color: #fff;
}